<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改限时抢购')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-buy-edit" th:object="${goodPanicBuy}">
            <input name="id" th:field="*{id}" type="hidden">
            <input id="goodsId" name="goodsId" th:field="*{goodsId}" type="hidden"/>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品名称：</label>
                <div class="col-sm-8">
                    <input name="goodsName" th:field="*{goodsName}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">售价：</label>
                <div class="col-sm-8">
                    <input name="price" th:field="*{price}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">划线价格：</label>
                <div class="col-sm-8">
                    <input name="linePrice" th:field="*{linePrice}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">普通会员优惠金额：</label>
                <div class="col-sm-8">
                    <input name="generalPrice" th:field="*{generalPrice}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">E卡会员优惠金额：</label>
                <div class="col-sm-8">
                    <input name="ePrice" th:field="*{ePrice}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">新民金卡优惠金额：</label>
                <div class="col-sm-8">
                    <input name="goldPrice" th:field="*{goldPrice}" class="form-control" type="text" required>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label">抢购开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="startTime" th:value="${#dates.format(goodPanicBuy.startTime, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text"
                               id="datetimepicker-demo-3">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">抢购结束时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="endTime" th:value="${#dates.format(goodPanicBuy.endTime, 'yyyy-MM-dd HH:mm:ss')}" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text"
                               id="datetimepicker-demo-4">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品抢购库存数量：</label>
                <div class="col-sm-8">
                    <input name="stockNum" th:field="*{stockNum}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">展示图片：</label>
                <div class="col-sm-8">
                    <input id="pictureUrl" name="activityImg" type="hidden" required th:value="*{activityImg}">
                    <input id="picture" type="file" name="file" accept="image/*"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-8">
                    <img id="activityImg" th:src="${goodPanicBuy.activityImg}" width="200px" height="200px">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">活动标题：</label>
                <div class="col-sm-8">
                    <input name="activityTitle" th:field="*{activityTitle}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">启用：</label>
                <div class="col-sm-8">
                    <select  name="isSale" class="form-control"  th:field="*{isSale}">
                        <option value = "1">启用</option>
                        <option value = "0">未启用</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">状态：</label>
                <div class="col-sm-8">
                    <select  name="status" class="form-control"  th:field="*{status}">
                        <option value = "0">下架</option>
                        <option value = "1">上架</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">初始销量(虚拟销量)：</label>
                <div class="col-sm-8">
                    <input name="salesInitial" th:field="*{salesInitial}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实际销量：</label>
                <div class="col-sm-8">
                    <input name="salesActual" th:field="*{salesActual}" class="form-control" type="text" disabled>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">虚拟抢购用户id：</label>
                <div class="col-sm-8">
                    <button type="button" class="btn btn-info" onclick="selectUsersToParent()">请选择会员</button>
                    <input id="member" th:value="${goodPanicBuy.virtualMember}" name="virtualMember"  type="hidden" required>
                    <p id="memberIds" th:text="${goodPanicBuy.virtualMember}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">每人限购数(-1为不限)：</label>
                <div class="col-sm-8">
                    <input name="restriction" th:field="*{restriction}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/buy";
        $("#form-buy-edit").validate({
            focusCleanup: true
        });

        $("#datetimepicker-demo-3").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            autoclose: true
        });

        $("#datetimepicker-demo-4").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            autoclose: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-buy-edit').serialize());
            }
        }

        $("input[name='startTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='endTime']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        /*图片上传*/
        document.getElementById("picture").onchange = function () {
            imageUpload("picture","pictureUrl");
        };
        function imageUpload(file,info){
            var formData = new FormData();
            formData.append('file', $("#"+file)[0].files[0]);
            $.ajax({
                url: "/system/api/fileUpload/"+4,
                data: formData,
                type: "POST",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    //成功
                    $("#"+info).val(data);
                    $("#activityImg").attr('src', data);
                }
            });
        }

        /*选择会员*/
        function selectUsersToParent(){
            $.modal.open("选择会员", prefix + "/selectMembers");
        }
    </script>
</body>
</html>