<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>我的团队</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/card.css">
    <script src="/js/rem.js"></script>
</head>
<body>
    <div class="team_header">
        <p class="team_header_title">
            <span onclick="window.history.go(-1)"></span>
            我的团队
        </p>
    </div>
    <ul class="team_list">
        <li th:each="list : ${list}">
            <img class="team_list_left" th:if="${list.avatar != null}" th:src="${list.avatar}">
            <div class="team_list_left" th:if="${list.avatar == null}"></div>
            <div class="team_list_right">
                <ul class="team_list_top">
                    <li>
                        合伙人:
                        <span th:text="${list.user.name}"></span>
                    </li>
                    <li>
                       电话:
                        <span th:text="${list.user.cellphone}"></span>
                    </li>
                </ul>
                <ul class="team_list_bottom">
                    <li>
                        推荐人:
                        <span th:text="${list.directName}"> </span>
                    </li>
                    <li>
                        代理:
                        <span th:text="${list.agencyNum}"> </span>
                    </li>
                    <li>
                        商户:
                        <span th:text="${list.merchantNum}"></span>
                    </li>
                    <li>
                        合伙人:
                        <span th:text="${list.partnerNum}"></span>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</body>
</html>