<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinmintx.factory.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.xinmintx.factory.model.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="cellphone" jdbcType="VARCHAR" property="cellphone"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="idcard" jdbcType="VARCHAR" property="idcard"/>
        <result column="recommender" jdbcType="INTEGER" property="recommender"/>
        <result column="user_role" jdbcType="INTEGER" property="userRole"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="amount" jdbcType="INTEGER" property="amount"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="company_address" jdbcType="VARCHAR" property="companyAddress"/>
        <result column="region_name" jdbcType="VARCHAR" property="regionName"/>
        <result column="region_code" jdbcType="VARCHAR" property="regionCode"/>
        <result column="openid" jdbcType="VARCHAR" property="openid"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="refresh_token" jdbcType="VARCHAR" property="refreshToken"/>
        <result column="is_review" jdbcType="INTEGER" property="isReview"/>
        <result column="create_user" jdbcType="VARCHAR" property="createUser"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_user" jdbcType="VARCHAR" property="updateUser"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="last_login" jdbcType="TIMESTAMP" property="lastLogin"/>
        <result column="partner_id" jdbcType="INTEGER" property="partnerId"/>
        <result column="shareholder_id" jdbcType="INTEGER" property="shareholderId"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="common_one" jdbcType="VARCHAR" property="commonOne"/>
        <result column="common_two" jdbcType="VARCHAR" property="commonTwo"/>
        <result column="operatorid" jdbcType="INTEGER" property="operatorid"/>
        <result column="account_start" jdbcType="INTEGER" property="accountStart"/>
        <result column="account_id" jdbcType="VARCHAR" property="accountId"/>
        <result column="tied_card_id" jdbcType="VARCHAR" property="tiedCardId"/>
    </resultMap>
    <sql id="Base_Column_List">
id,order_id,name,cellphone,gender,idcard,recommender,user_role,status,amount,
company_name,company_address,region_name,region_code,openid,avatar,refresh_token,
is_review,create_user,create_time,update_user,update_time,last_login,partner_id,
shareholder_id,end_time,common_one,common_two,operatorid,account_start,account_id,
tied_card_id
    </sql>
    <update id="upUserId">
        update user
        set account_id =#{id},
        account_start = 1
        where
        id = #{userId}
    </update>
    <select id="query" resultType="com.xinmintx.factory.model.User">
        select <include refid="Base_Column_List"/>
        from user
        where
        account_start = 0
    </select>
</mapper>