<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改提货点营业额百分比设置')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-turnover-edit" th:object="${userPickTurnover}">
            <input name="id" th:field="*{id}" type="hidden">
<!--            <div class="form-group">    -->
<!--                <label class="col-sm-3 control-label">用户名称：</label>-->
<!--                <div class="col-sm-8">-->
<!--                    <input name="userIdPickup" th:field="*{userIdPickup}" class="form-control" type="text">-->
<!--                </div>-->
<!--            </div>-->
            <div class="form-group">    
                <label class="col-sm-3 control-label">百分比(%)：</label>
                <div class="col-sm-8">
                    <input name="turnover" th:field="*{turnover}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "system/turnover";
        $("#form-turnover-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-turnover-edit').serialize());
            }
        }
    </script>
</body>
</html>