<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/agent.css">
    <script src="/js/rem.js"></script>
    <script src="/js/agent-index.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
    <script src="/js/wechatpay.js"></script>
</head>
<body>
<div class="header">
    <h2 class="header_h">代理商服务</h2>
    <div class="header_content">
        <div class="header_top">
            <div class="header_top_left">
                <div class="use">
                    <img th:src="${numberMedol.avatar}">
                    <!--<input type="hidden" id="userId" th:value="${numberMedol.id}">-->
                </div>
                <ul class="user_cont" >
                    <li >
                        <span class="name" th:text="${numberMedol.username}"></span>

                        <span class="user_cont_span1">提货点</span></li>
                    <li>
                        <span class="money" onclick="balanceStatement()">余额:</span>
                        <span class="money_n" th:text="${numberMedol.balance}" onclick="toggle()"></span>
                        <span class="user_cont_span2" onclick="deposit()">提现</span>
                    </li>
                </ul>
            </div>
            <ul class="header_top_right">

            </ul>
        </div>
        <ul class="header_bottom" onclick="toggle()">
            <li>
                <p th:text="${numberMedol.silverNumber}" class="header_top_right_p"></p>
                <span class="span3">推荐新民金卡</span>
            </li>
            <li >
                <p th:text="${numberMedol.agentNumber}" class="header_top_right_p"></p>
                <span class="span3">推荐代理</span>
            </li>
            <li >
                <p th:text="${numberMedol.merchantNumber}" class="header_top_right_p"></p>
                <span class="span3">推荐商户</span>
            </li>
            <li >
                <p th:text="${numberMedol.staffNumber}" class="header_top_right_p"></p>
                <span class="span3">推荐员工</span>
            </li>
        </ul>
    </div>
</div>
<!--代理商主页头部结束-->

<div class="essential">
    <img src="/images/agent.img/icon1.png" alt="" class="essential_icon">
    必备功能
    <span class="essential_y1"></span>
    <span class="essential_y2"></span>
</div>
<ul class="essential_list" >
    <li>
        <img src="/images/agent.img/agentIcon1.png" alt="" class="agentIcon1" onclick="toggle()">
        增加代理
    </li>
    <li>
        <img src="/images/agent.img/agentIcon2.png" alt="" class="agentIcon2" onclick="toggle()" >
        增加商户
    </li>
    <li>
        <img src="/images/agent.img/agentIcon3.png" alt="" class="agentIcon3" onclick="toggle()">
        增加新民金卡
    </li>
    <li>
        <img src="/images/agent.img/agentIcon4.png" alt="" class="agentIcon4" onclick="toggle()">
        增加员工
    </li>
    <li>
        <img src="/images/agent.img/agentIcon7.png" alt="" class="agentIcon7" onclick="toggle()">
        资料包
    </li>
    <li>
        <img src="/images/agent.img/agentIcon8.png" alt="" class="agentIcon7" onclick="setIndex()">
        设置
    </li>
    <li >
        <img src="/images/agent.img/agentIcon14.png" alt="" class="agentIcon15" onclick="toggle()">
        采购市场</li>
    <li >
        <img src="/images/class.png" class="agentIcon16" onclick="toggle()">
        我的课堂
    </li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<div class="success">
<div class="success_content">
    <p class="reminderTxt">提示</p>
    <p class="success_text">开通惠商代理才能解锁更多功能</p>
    <div class="reminderBtn">
        <div class="close_btn" onclick="closeBtn()">取消</div>
        <div class="success_btn" onclick="success()">确定</div>
    </div>

</div>
</div>
<!--必备功能结束-->
<script>
    function closeBtn() {

        $('.success').hide();
        // return;
    }
    function toggle() {
        $('.success').show();
    }
    function success() {
        pay_flag = true;
        $.ajax({
            url: "/agent/pickup/pickuPupgrade",
            method: "POST",
            contentType: "application/x-www-form-urlencoded",
            success: function (res) {
                if (res.code === 200) {
                    if (res.data !== null) {
                        onBridgeReady(res.data);
                    } else {
                        // alert("添加成功");
                        location.href="/agent/user/index";
                    }
                } else {

                }
            }
        });
    }
</script>
</body>
</html>
