<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinmintx.agent.mapper.CommodityTypologyMapper">
  <resultMap id="BaseResultMap" type="com.xinmintx.agent.model.CommodityTypology">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="kind_id" jdbcType="INTEGER" property="kindId" />
    <result column="kind_type" jdbcType="VARCHAR" property="kindType" />
    <result column="kind_price" jdbcType="DOUBLE" property="kindPrice" />
    <result column="kind_repertory" jdbcType="INTEGER" property="kindRepertory" />
    <result column="kind_picture" jdbcType="VARCHAR" property="kindPicture" />
    <result column="seckill_price" jdbcType="DOUBLE" property="seckillPrice" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, kind_id, kind_type, kind_price, kind_repertory, kind_picture, seckill_price
  </sql>
  <select id="selectByExample" parameterType="com.xinmintx.agent.model.CommodityTypologyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from commodity_typology
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commodity_typology
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from commodity_typology
    where kind_id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xinmintx.agent.model.CommodityTypologyExample">
    delete from commodity_typology
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xinmintx.agent.model.CommodityTypology" useGeneratedKeys="true">
    insert into commodity_typology (kind_id, kind_type, kind_price, 
      kind_repertory, kind_picture, seckill_price
      )
    values (#{kindId,jdbcType=INTEGER}, #{kindType,jdbcType=VARCHAR}, #{kindPrice,jdbcType=DOUBLE}, 
      #{kindRepertory,jdbcType=INTEGER}, #{kindPicture,jdbcType=VARCHAR}, #{seckillPrice,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xinmintx.agent.model.CommodityTypology" useGeneratedKeys="true">
    insert into commodity_typology
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="kindId != null">
        kind_id,
      </if>
      <if test="kindType != null">
        kind_type,
      </if>
      <if test="kindPrice != null">
        kind_price,
      </if>
      <if test="kindRepertory != null">
        kind_repertory,
      </if>
      <if test="kindPicture != null">
        kind_picture,
      </if>
      <if test="seckillPrice != null">
        seckill_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="kindId != null">
        #{kindId,jdbcType=INTEGER},
      </if>
      <if test="kindType != null">
        #{kindType,jdbcType=VARCHAR},
      </if>
      <if test="kindPrice != null">
        #{kindPrice,jdbcType=DOUBLE},
      </if>
      <if test="kindRepertory != null">
        #{kindRepertory,jdbcType=INTEGER},
      </if>
      <if test="kindPicture != null">
        #{kindPicture,jdbcType=VARCHAR},
      </if>
      <if test="seckillPrice != null">
        #{seckillPrice,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xinmintx.agent.model.CommodityTypologyExample" resultType="java.lang.Long">
    select count(*) from commodity_typology
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update commodity_typology
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.kindId != null">
        kind_id = #{record.kindId,jdbcType=INTEGER},
      </if>
      <if test="record.kindType != null">
        kind_type = #{record.kindType,jdbcType=VARCHAR},
      </if>
      <if test="record.kindPrice != null">
        kind_price = #{record.kindPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.kindRepertory != null">
        kind_repertory = #{record.kindRepertory,jdbcType=INTEGER},
      </if>
      <if test="record.kindPicture != null">
        kind_picture = #{record.kindPicture,jdbcType=VARCHAR},
      </if>
      <if test="record.seckillPrice != null">
        seckill_price = #{record.seckillPrice,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update commodity_typology
    set id = #{record.id,jdbcType=INTEGER},
      kind_id = #{record.kindId,jdbcType=INTEGER},
      kind_type = #{record.kindType,jdbcType=VARCHAR},
      kind_price = #{record.kindPrice,jdbcType=DOUBLE},
      kind_repertory = #{record.kindRepertory,jdbcType=INTEGER},
      kind_picture = #{record.kindPicture,jdbcType=VARCHAR},
      seckill_price = #{record.seckillPrice,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinmintx.agent.model.CommodityTypology">
    update commodity_typology
    <set>
      <if test="kindId != null">
        kind_id = #{kindId,jdbcType=INTEGER},
      </if>
      <if test="kindType != null">
        kind_type = #{kindType,jdbcType=VARCHAR},
      </if>
      <if test="kindPrice != null">
        kind_price = #{kindPrice,jdbcType=DOUBLE},
      </if>
      <if test="kindRepertory != null">
        kind_repertory = #{kindRepertory,jdbcType=INTEGER},
      </if>
      <if test="kindPicture != null">
        kind_picture = #{kindPicture,jdbcType=VARCHAR},
      </if>
      <if test="seckillPrice != null">
        seckill_price = #{seckillPrice,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinmintx.agent.model.CommodityTypology">
    update commodity_typology
    set kind_id = #{kindId,jdbcType=INTEGER},
      kind_type = #{kindType,jdbcType=VARCHAR},
      kind_price = #{kindPrice,jdbcType=DOUBLE},
      kind_repertory = #{kindRepertory,jdbcType=INTEGER},
      kind_picture = #{kindPicture,jdbcType=VARCHAR},
      seckill_price = #{seckillPrice,jdbcType=DOUBLE}
    where kind_id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.xinmintx.agent.model.CommodityTypologyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from commodity_typology
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
    <select id="showType" resultType="com.xinmintx.agent.model.CommodityTypology">
      select * from commodity_typology cty
      left join commodity_kind ck on ck.id = cty.kind_id
      where ck.commodity_id = #{id}
    </select>
</mapper>