<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinmintx.agent.mapper.DepositSpecificationMapper">
  <resultMap id="BaseResultMap" type="com.xinmintx.agent.model.DepositSpecification">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="deposit_sum" jdbcType="DECIMAL" property="depositSum" />
    <result column="service_charge" jdbcType="DOUBLE" property="serviceCharge" />
    <result column="reserved_one" jdbcType="VARCHAR" property="reservedOne" />
    <result column="reserved_two" jdbcType="VARCHAR" property="reservedTwo" />
    <result column="reserved_three" jdbcType="VARCHAR" property="reservedThree" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, deposit_sum, service_charge, reserved_one, reserved_two, reserved_three
  </sql>
  <select id="selectByExample" parameterType="com.xinmintx.agent.model.DepositSpecificationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from deposit_specification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from deposit_specification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from deposit_specification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.xinmintx.agent.model.DepositSpecificationExample">
    delete from deposit_specification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.xinmintx.agent.model.DepositSpecification" useGeneratedKeys="true">
    insert into deposit_specification (deposit_sum, service_charge, reserved_one, 
      reserved_two, reserved_three)
    values (#{depositSum,jdbcType=DECIMAL}, #{serviceCharge,jdbcType=DOUBLE}, #{reservedOne,jdbcType=VARCHAR}, 
      #{reservedTwo,jdbcType=VARCHAR}, #{reservedThree,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.xinmintx.agent.model.DepositSpecification" useGeneratedKeys="true">
    insert into deposit_specification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="depositSum != null">
        deposit_sum,
      </if>
      <if test="serviceCharge != null">
        service_charge,
      </if>
      <if test="reservedOne != null">
        reserved_one,
      </if>
      <if test="reservedTwo != null">
        reserved_two,
      </if>
      <if test="reservedThree != null">
        reserved_three,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="depositSum != null">
        #{depositSum,jdbcType=DECIMAL},
      </if>
      <if test="serviceCharge != null">
        #{serviceCharge,jdbcType=DOUBLE},
      </if>
      <if test="reservedOne != null">
        #{reservedOne,jdbcType=VARCHAR},
      </if>
      <if test="reservedTwo != null">
        #{reservedTwo,jdbcType=VARCHAR},
      </if>
      <if test="reservedThree != null">
        #{reservedThree,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xinmintx.agent.model.DepositSpecificationExample" resultType="java.lang.Long">
    select count(*) from deposit_specification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update deposit_specification
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.depositSum != null">
        deposit_sum = #{record.depositSum,jdbcType=DECIMAL},
      </if>
      <if test="record.serviceCharge != null">
        service_charge = #{record.serviceCharge,jdbcType=DOUBLE},
      </if>
      <if test="record.reservedOne != null">
        reserved_one = #{record.reservedOne,jdbcType=VARCHAR},
      </if>
      <if test="record.reservedTwo != null">
        reserved_two = #{record.reservedTwo,jdbcType=VARCHAR},
      </if>
      <if test="record.reservedThree != null">
        reserved_three = #{record.reservedThree,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update deposit_specification
    set id = #{record.id,jdbcType=INTEGER},
      deposit_sum = #{record.depositSum,jdbcType=DECIMAL},
      service_charge = #{record.serviceCharge,jdbcType=DOUBLE},
      reserved_one = #{record.reservedOne,jdbcType=VARCHAR},
      reserved_two = #{record.reservedTwo,jdbcType=VARCHAR},
      reserved_three = #{record.reservedThree,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinmintx.agent.model.DepositSpecification">
    update deposit_specification
    <set>
      <if test="depositSum != null">
        deposit_sum = #{depositSum,jdbcType=DECIMAL},
      </if>
      <if test="serviceCharge != null">
        service_charge = #{serviceCharge,jdbcType=DOUBLE},
      </if>
      <if test="reservedOne != null">
        reserved_one = #{reservedOne,jdbcType=VARCHAR},
      </if>
      <if test="reservedTwo != null">
        reserved_two = #{reservedTwo,jdbcType=VARCHAR},
      </if>
      <if test="reservedThree != null">
        reserved_three = #{reservedThree,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinmintx.agent.model.DepositSpecification">
    update deposit_specification
    set deposit_sum = #{depositSum,jdbcType=DECIMAL},
      service_charge = #{serviceCharge,jdbcType=DOUBLE},
      reserved_one = #{reservedOne,jdbcType=VARCHAR},
      reserved_two = #{reservedTwo,jdbcType=VARCHAR},
      reserved_three = #{reservedThree,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.xinmintx.agent.model.DepositSpecificationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from deposit_specification
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>