<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinmintx.system.mapper.GoodsTypeExtMapper">

    <resultMap type="com.xinmintx.system.domain.GoodsTypeExt" id="GoodsTypeResult">
        <result property="id"    column="id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="twoParentId"    column="twoParentId"    />
        <result property="typeName"    column="type_name"    />
        <result property="level"    column="level"    />
        <result property="typephoto"    column="typePhoto"    />
    </resultMap>

</mapper>