<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinmintx.system.mapper.RegionMapper">
    
    <resultMap type="Region" id="RegionResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="pid"    column="pid"    />
        <result property="sname"    column="sname"    />
        <result property="level"    column="level"    />
        <result property="citycode"    column="citycode"    />
        <result property="yzcode"    column="yzcode"    />
        <result property="mername"    column="mername"    />
        <result property="lng"    column="Lng"    />
        <result property="lat"    column="Lat"    />
        <result property="pinyin"    column="pinyin"    />
        <result property="regionalstate"    column="RegionalState"    />
    </resultMap>

    <sql id="selectRegionVo">
        select id, name, pid, sname, level, citycode, yzcode, mername, Lng, Lat, pinyin, RegionalState from region
    </sql>

    <select id="selectRegionList" parameterType="Region" resultMap="RegionResult">
        <include refid="selectRegionVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="pid != null "> and pid = #{pid}</if>
            <if test="sname != null  and sname != ''"> and sname like concat('%', #{sname}, '%')</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="citycode != null  and citycode != ''"> and citycode = #{citycode}</if>
            <if test="yzcode != null  and yzcode != ''"> and yzcode = #{yzcode}</if>
            <if test="mername != null  and mername != ''"> and mername like concat('%', #{mername}, '%')</if>
            <if test="lng != null "> and Lng = #{lng}</if>
            <if test="lat != null "> and Lat = #{lat}</if>
            <if test="pinyin != null  and pinyin != ''"> and pinyin = #{pinyin}</if>
            <if test="regionalstate != null "> and RegionalState = #{regionalstate}</if>
        </where>
    </select>
    
    <select id="selectRegionById" parameterType="Long" resultMap="RegionResult">
        <include refid="selectRegionVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRegion" parameterType="Region">
        insert into region
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="pid != null ">pid,</if>
            <if test="sname != null  and sname != ''">sname,</if>
            <if test="level != null ">level,</if>
            <if test="citycode != null  and citycode != ''">citycode,</if>
            <if test="yzcode != null  and yzcode != ''">yzcode,</if>
            <if test="mername != null  and mername != ''">mername,</if>
            <if test="lng != null ">Lng,</if>
            <if test="lat != null ">Lat,</if>
            <if test="pinyin != null  and pinyin != ''">pinyin,</if>
            <if test="regionalstate != null ">RegionalState,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="pid != null ">#{pid},</if>
            <if test="sname != null  and sname != ''">#{sname},</if>
            <if test="level != null ">#{level},</if>
            <if test="citycode != null  and citycode != ''">#{citycode},</if>
            <if test="yzcode != null  and yzcode != ''">#{yzcode},</if>
            <if test="mername != null  and mername != ''">#{mername},</if>
            <if test="lng != null ">#{lng},</if>
            <if test="lat != null ">#{lat},</if>
            <if test="pinyin != null  and pinyin != ''">#{pinyin},</if>
            <if test="regionalstate != null ">#{regionalstate},</if>
         </trim>
    </insert>

    <update id="updateRegion" parameterType="Region">
        update region
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="pid != null ">pid = #{pid},</if>
            <if test="sname != null  and sname != ''">sname = #{sname},</if>
            <if test="level != null ">level = #{level},</if>
            <if test="citycode != null  and citycode != ''">citycode = #{citycode},</if>
            <if test="yzcode != null  and yzcode != ''">yzcode = #{yzcode},</if>
            <if test="mername != null  and mername != ''">mername = #{mername},</if>
            <if test="lng != null ">Lng = #{lng},</if>
            <if test="lat != null ">Lat = #{lat},</if>
            <if test="pinyin != null  and pinyin != ''">pinyin = #{pinyin},</if>
            <if test="regionalstate != null ">RegionalState = #{regionalstate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRegionById" parameterType="Long">
        delete from region where id = #{id}
    </delete>

    <delete id="deleteRegionByIds" parameterType="String">
        delete from region where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>