<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinmintx.system.mapper.UserMapper">
    
    <resultMap type="User" id="UserResult">
        <result property="id"    column="id"    />
        <result property="orderId"    column="order_id"    />
        <result property="name"    column="name"    />
        <result property="cellphone"    column="cellphone"    />
        <result property="gender"    column="gender"    />
        <result property="idcard"    column="idcard"    />
        <result property="recommender"    column="recommender"    />
        <result property="userRole"    column="user_role"    />
        <result property="status"    column="status"    />
        <result property="amount"    column="amount"    />
        <result property="companyName"    column="company_name"    />
        <result property="companyAddress"    column="company_address"    />
        <result property="regionName"    column="region_name"    />
        <result property="regionCode"    column="region_code"    />
        <result property="isReview"    column="is_review"    />
        <result property="createUser"    column="create_user"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateUser"    column="update_user"    />
        <result property="updateTime"    column="update_time"    />
        <result property="lastLogin"    column="last_login"    />
    </resultMap>

    <sql id="selectUserVo">
        select id, order_id, name, cellphone, gender, idcard, recommender, user_role, status, amount, company_name, company_address, region_name, region_code, is_review, create_user, create_time, update_user, update_time, last_login from user
    </sql>

    <select id="selectUserList" parameterType="User" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="cellphone != null  and cellphone != ''"> and cellphone = #{cellphone}</if>
            <if test="gender != null "> and gender = #{gender}</if>
            <if test="idcard != null  and idcard != ''"> and idcard = #{idcard}</if>
            <if test="recommender != null "> and recommender = #{recommender}</if>
            <if test="userRole != null "> and user_role = #{userRole}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="companyAddress != null  and companyAddress != ''"> and company_address = #{companyAddress}</if>
            <if test="regionName != null  and regionName != ''"> and region_name like concat('%', #{regionName}, '%')</if>
            <if test="regionCode != null  and regionCode != ''"> and region_code = #{regionCode}</if>
            <if test="isReview != null "> and is_review = #{isReview}</if>
            <if test="createUser != null  and createUser != ''"> and create_user = #{createUser}</if>
            <if test="updateUser != null  and updateUser != ''"> and update_user = #{updateUser}</if>
            <if test="lastLogin != null "> and last_login = #{lastLogin}</if>
        </where>
        order by create_time desc
    </select>
    
    <select id="selectUserById" parameterType="Long" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where id = #{id}
    </select>

    <select id="selectUserByPhone" parameterType="Long" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where cellphone = #{phone} AND status = 1
    </select>

    <insert id="insertUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null ">order_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="cellphone != null  and cellphone != ''">cellphone,</if>
            <if test="gender != null ">gender,</if>
            <if test="idcard != null  and idcard != ''">idcard,</if>
            <if test="recommender != null ">recommender,</if>
            <if test="userRole != null ">user_role,</if>
            <if test="status != null ">status,</if>
            <if test="amount != null ">amount,</if>
            <if test="companyName != null  and companyName != ''">company_name,</if>
            <if test="companyAddress != null  and companyAddress != ''">company_address,</if>
            <if test="regionName != null  and regionName != ''">region_name,</if>
            <if test="regionCode != null  and regionCode != ''">region_code,</if>
            <if test="isReview != null ">is_review,</if>
            <if test="createUser != null  and createUser != ''">create_user,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateUser != null  and updateUser != ''">update_user,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="lastLogin != null ">last_login,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null ">#{orderId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="cellphone != null  and cellphone != ''">#{cellphone},</if>
            <if test="gender != null ">#{gender},</if>
            <if test="idcard != null  and idcard != ''">#{idcard},</if>
            <if test="recommender != null ">#{recommender},</if>
            <if test="userRole != null ">#{userRole},</if>
            <if test="status != null ">#{status},</if>
            <if test="amount != null ">#{amount},</if>
            <if test="companyName != null  and companyName != ''">#{companyName},</if>
            <if test="companyAddress != null  and companyAddress != ''">#{companyAddress},</if>
            <if test="regionName != null  and regionName != ''">#{regionName},</if>
            <if test="regionCode != null  and regionCode != ''">#{regionCode},</if>
            <if test="isReview != null ">#{isReview},</if>
            <if test="createUser != null  and createUser != ''">#{createUser},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">#{updateUser},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="lastLogin != null ">#{lastLogin},</if>
         </trim>
    </insert>

    <update id="updateUser" parameterType="User">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null ">order_id = #{orderId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="cellphone != null  and cellphone != ''">cellphone = #{cellphone},</if>
            <if test="gender != null ">gender = #{gender},</if>
            <if test="idcard != null  and idcard != ''">idcard = #{idcard},</if>
            <if test="recommender != null ">recommender = #{recommender},</if>
            <if test="userRole != null ">user_role = #{userRole},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="amount != null ">amount = #{amount},</if>
            <if test="companyName != null  and companyName != ''">company_name = #{companyName},</if>
            <if test="companyAddress != null  and companyAddress != ''">company_address = #{companyAddress},</if>
            <if test="regionName != null  and regionName != ''">region_name = #{regionName},</if>
            <if test="regionCode != null  and regionCode != ''">region_code = #{regionCode},</if>
            <if test="isReview != null ">is_review = #{isReview},</if>
            <if test="createUser != null  and createUser != ''">create_user = #{createUser},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateUser != null  and updateUser != ''">update_user = #{updateUser},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="lastLogin != null ">last_login = #{lastLogin},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="Long">
        delete from user where id = #{id}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        delete from user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>