<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinmintx.merchant.mapper.PoboNotifyMapper">
    <resultMap id="BaseResultMap" type="com.xinmintx.merchant.model.PoboNotify">
        <id column="id" property="id"/>
        <result column="ret_msg" property="retMsg"/>
        <result column="txn_amt" property="txnAmt"/>
        <result column="fee" property="fee"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        ret_msg,txn_amt,fee,create_time
    </sql>
    <insert id="insert" parameterType="map" >
    insert into pobo_notify (request_sn, ret_code,
      ret_msg, merchant_id, order_date,
      order_status, order_time, txn_amt,
      fee, notify_url, sign_type,
      signature)
    values (#{pn.requestSN,jdbcType=VARCHAR}, #{pn.retCode,jdbcType=VARCHAR},
      #{pn.retMsg,jdbcType=VARCHAR}, #{pn.merchantId,jdbcType=VARCHAR}, #{pn.orderDate,jdbcType=VARCHAR},
      #{pn.orderStatus,jdbcType=VARCHAR}, #{pn.orderTime,jdbcType=VARCHAR}, #{pn.txnAmt,jdbcType=VARCHAR},
      #{pn.fee,jdbcType=VARCHAR}, #{pn.notifyUrl,jdbcType=VARCHAR}, #{pn.signType,jdbcType=VARCHAR},
      #{pn.signature,jdbcType=VARCHAR})
  </insert>
    <select id="selectList" resultType="com.xinmintx.merchant.model.PoboNotify">
        select <include refid="Base_Column_List"/> from pobo_notify
        where request_sn = #{requestSn}
    </select>

</mapper>