<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商家详情</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/detail.css">
    <script src="/js/rem.js"></script>
</head>
<body>
    <div class="header">
        <h3 class="detail_title">店铺明细</h3>
        <p class="detail_titles">今日营业额</p>
        <div class="detail_total"><span>6886.0</span></div>
    </div>
    <div class="income">
        <div class="income_t">
            <p class="income_tp1">今日收入</p>
            <p class="income_tp2">￥1.80</p>
        </div>
        <div class="income_k"></div>
        <div class="income_t">
            <p class="income_tp1">本月收入</p>
            <p class="income_tp2">￥186.0</p>
        </div>
    </div>
    <div class="detail_list">
        <p class="detail_list_p">今天</p>
        <ul class="detail_list_ul">
            <li>
                <div class="list_left">
                    <div class="list_left_y">
                        <img src="/images/detail.img/icon.png" alt="">
                    </div>
                    <div class="list_left_text">
                        <p class="list_left_text1">汤某人</p>
                        <p class="list_left_text2">2017/06.18 &nbsp19:22</p>
                    </div>
                </div>
                <div class="list_right">
                    <span class="list_right_y">￥</span>
                    2
                </div>
            </li>
            <li>
                <div class="list_left">
                    <div class="list_left_y">
                        <img src="/images/detail.img/icon.png" alt="">
                    </div>
                    <div class="list_left_text">
                        <p class="list_left_text1">汤某人</p>
                        <p class="list_left_text2">2017/06.18 &nbsp19:22</p>
                    </div>
                </div>
                <div class="list_right">
                    <span class="list_right_y">￥</span>
                    2
                </div>
            </li>
        </ul>
    </div>
    <div class="detail_list">
        <p class="detail_list_p">昨天</p>
        <ul class="detail_list_ul">
            <li>
                <div class="list_left">
                    <div class="list_left_y">
                        <img src="/images/detail.img/icon.png" alt="">
                    </div>
                    <div class="list_left_text">
                        <p class="list_left_text1">汤某人</p>
                        <p class="list_left_text2">2017/06.18 &nbsp19:22</p>
                    </div>
                </div>
                <div class="list_right">
                    <span class="list_right_y">￥</span>
                    2
                </div>
            </li>
            <li>
                <div class="list_left">
                    <div class="list_left_y">
                        <img src="/images/detail.img/icon.png" alt="">
                    </div>
                    <div class="list_left_text">
                        <p class="list_left_text1">汤某人</p>
                        <p class="list_left_text2">2017/06.18 &nbsp19:22</p>
                    </div>
                </div>
                <div class="list_right">
                    <span class="list_right_y">￥</span>
                    2
                </div>
            </li>
        </ul>
    </div>
</body>
</html>
