body {
  background-color: #F5F4F4 ;
  overflow-x: hidden;
}
p{
  font-size: 0.3rem;
}
.close_btn{
  width: 50%;
  font-size:0.32rem;
  font-family:FZCuHeiSongS-B-GB;
  font-weight:400;
  /*color:rgba(255,255,255,1);*/
  color: #fff;
  text-align: center;
  line-height: 0.64rem;
  background-color: #9d9d9d;
}
.success{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.35);
  display: none;
  z-index: 999;
}
.success_content{
  position: relative;
  top: 4.41rem;
  left: 1.36rem;
  width:4.77rem;
  height:2.66rem;
  background:rgba(255,255,255,1);
  /*border-radius:0.2rem;*/
  /*background-image: url("/images/login.img/success.png");*/
  /*background-size: 100%;*/
  /*background-repeat: no-repeat;*/
}

.success_text{
  font-size:0.26rem;
  font-family:FZCuHeiSongS-B-GB;
  font-weight:400;
  color:rgba(0,0,0,1);
  position: relative;
  text-align: center;
  line-height: 1rem;
  /*top: 2.99rem;*/
}
.success_btn{
  width:50%;
  height:0.64rem;
  background:rgba(53,131,240,1);
  /*border-radius:0.32rem;*/
  font-size:0.34rem;
  font-family:FZCuHeiSongS-B-GB;
  font-weight:400;
  color:rgba(255,255,255,1);
  text-align: center;
  line-height: 0.64rem;

}
.reminderBtn{
  display: flex;
  position: relative;
  top: 0.54rem;
}
.reminderTxt{
  font-size: 0.28rem;
  text-align: center;
  line-height: 0.5rem;
  color: #4180f4;
}
.header {
  width: 100%;
  height: 4.73rem;
  background-image: url("/images/agent.img/bgImg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #FFF;
}
.header .header_h {
  font-size: 0.36rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #ffffff;
  padding-top: 0.68rem;
  margin-left: 2.74rem;
}
.header .header_content {
  width: 100%;
}
.header .header_content .header_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .header_content .header_top .header_top_left {
  display: flex;
  margin: 0.4rem 0 0 0.35rem;
}
.header .header_content .header_top .header_top_left .use {
  width: 1.22rem;
  height: 1.22rem;
  border-radius: 50%;
  background-color: #fff;
}
.header .header_content .header_top .header_top_left .use>img{
  width: 1.22rem;
  height: 1.22rem;
  border-radius: 50%;
}
.header .header_content .header_top .header_top_left .user_cont {
  margin: 0.24rem 0 0 0.23rem;
}
.header .header_content .header_top .header_top_left .user_cont li:nth-of-type(1) {
  font-size: 0.32rem;
  color: #FFF;
}
.header .header_content .header_top .header_top_left .user_cont li:nth-of-type(1) .user_cont_span1 {
  font-size: 0.22rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #ffffff;
  margin-left: 0.04rem;
  position: relative;
  bottom: 0rem;
}
.header .header_content .header_top .header_top_left .user_cont li:nth-of-type(1) .name{
  font-size: 0.32rem;
  color: #FFF;
}
.header .header_content .header_top .header_top_left .user_cont li:nth-of-type(2) {
   font-size: 0.25rem;
   font-family: SimHei;
   font-weight: 400;
   color: #f4f4f4;
   /*margin-top: 0.1rem;*/
 }
.header .header_content .header_top .header_top_left .user_cont li:nth-of-type(2) .money{
  font-size: 0.26rem;
  font-family: SimHei;
  font-weight: 400;
  color: #f4f4f4;
  /*margin-top: 0.1rem;*/
}
.header .header_content .header_top .header_top_left .user_cont li:nth-of-type(2) .money_n{
  font-size: 0.26rem;
  font-family: SimHei;
  font-weight: 400;
  color: #f4f4f4;
  /*margin-top: 0.1rem;*/
}
.header .header_content .header_top .header_top_left .user_cont li:nth-of-type(2) .user_cont_span2 {
  display: inline-block;
  width: 0.7rem;
  height: 0.26rem;
  font-size: 0.18rem;
  font-family: SimHei;
  font-weight: 400;
  color: #ffffff;
  background-color: #FB5021;
  border-radius: 0.08rem;
  text-align: center;
  margin-left: -0.03rem;
  position: relative;
  bottom: 0.01rem;
  line-height: 0.26rem;
}
.header .header_content .header_top .header_top_right {
  display: flex;
  margin-left: 0.38rem;
  margin-top: 0.84rem;
  height: 0.78rem;
  margin-right: 0.6rem;
}
.header .header_content .header_top .header_top_right li:nth-of-type(1) {
  margin-right: 0.58rem;
  width: 0.9rem;
}
.header_top_right_p{
  font-size:0.36rem;
  font-family:PingFang SC;
  font-weight:500;
  color:rgba(255,255,255,1);
  text-align: center;
}

.header .header_content .header_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
}
.header .header_content .header_bottom li {
  width: 25%;
  text-align: center;
  font-size: 0.36rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #ffffff;
}
.span3 {
  font-size: 0.24rem;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #ffffff;
  opacity: 0.6;
  display: block;
  text-align: center;
}

.essential {
  width: 100%;
  height: 0.5rem;
  background-color: #FFF;
  display: flex;
  font-size: 0.3rem;
  font-family: SourceHanSansCN;
  font-weight: 500;
  color: #333333;
  line-height: 0.5rem;
  padding-top: 0.22rem;
}
.essential .essential_icon {
  width: 0.3rem;
  height: 0.3rem;
  margin: 0.1rem 0.13rem 0 0.3rem;
}
.essential .essential_y1 {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: #ffd695;
  margin-left: 0.1rem;
  margin-top: 0.13rem;
}
.essential .essential_y2 {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: rgba(162, 134, 252, 0.8);
  margin-left: -0.08rem;
  margin-top: 0.13rem;
}
.essential .timer{
  width: 2.8rem;
  height: 0.5rem;
  margin-left: 2.1rem;
}
.essential .timer .time_P{
  font-size:0.2rem;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(209,28,28,1);
  line-height: 0.5rem;
}
.essential .timer .time_P .timer_s{
  margin-left: 0.14rem;
  font-size:0.18rem;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(117,79,79,1);
}
.essential .timer .time_P #timer_cont{
  font-size:0.22rem;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(117,79,79,1);
}





.essential_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.essential_list li {
  width: 1.84rem;
  height: 1.84rem;
  background-color: #FFF;
  margin-top: 0.04rem;
  font-size: 0.2rem;
  font-family: Source Han Sans CN;
  font-weight: bold;
  color: #000000;
  text-align: center;
  line-height: 0.44rem;
}
.essential_list li .agentIcon1 {
  width: 0.58rem;
  height: 0.51rem;
  margin: 0.53rem 0 0.04rem 0.62rem;
}
.essential_list li .agentIcon2 {
  width: 0.48rem;
  height: 0.56rem;
  margin: 0.52rem 0 0 0.72rem;
}
.essential_list li .agentIcon3 {
  width: 0.6rem;
  height: 0.47rem;
  margin: 0.58rem 0 0.03rem 0.62rem;
}
.essential_list li .agentIcon4 {
  width: 0.63rem;
  height: 0.63rem;
  margin: 0.48rem 0 0 0.66rem;
}
.essential_list li .agentIcon5 {
  width: 0.66rem;
  height: 0.63rem;
  margin: 0.45rem 0 0 0.92rem;
}
.essential_list li .agentIcon6 {
  width: 0.58rem;
  height: 0.51rem;
  margin: 0.54rem 0 0.05rem 0.63rem;
}
.essential_list li .agentIcon7 {
  width: 0.44rem;
  height: 0.48rem;
  margin: 0.42rem 0 0.2rem 0.7rem;
}
.essential_list li .agentIcon8 {
  width: 0.54rem;
  height: 0.54rem;
  margin: 0.4rem 0 0.15rem 0.65rem;
}
.essential_list li .agentIcon9 {
  width: 0.62rem;
  height: 0.52rem;
  margin: 0.48rem 0 0.1rem 0.61rem;
}
.essential_list li .agentIcon11{
  width: 0.45rem;
  height: 0.45rem;
  margin: 0.56rem 0 0.08rem 0.7rem;
}
.essential_list li .agentIcon12{
  width: 0.49rem;
  height: 0.43rem;
  margin: 0.57rem 0 0.09rem 0.64rem;
}
.essential_list li .agentIcon13{
  width:0.55rem;
  height: 0.51rem;
  margin: 0.5rem 0 0 0.64rem;
}
.essential_list li .agentIcon14{
  width:0.62rem;
  height: 0.6rem;
  margin: 0.51rem 0 0.06rem 0.63rem;
}
.essential_list li .agentIcon15{
  width: 0.48rem;
  height: 0.49rem;
  margin: 0.46rem 0 0.14rem 0.62rem;
}
.essential_list li .agentIcon16{
  width: 0.48rem;
  height: 0.49rem;
  margin: 0.46rem 0 0.14rem 0.62rem;
}
.staff_list {
  margin-left: 2.86rem;
}
