body {
  background-color: #F5F7FC;
  position: relative;
}
/*头部搜索框*/
.header_search{
  width: 6.68rem;
  height: 0.6rem;
  margin: 0.12rem 0 0.14rem 0.4rem;
  background:rgba(255,255,255,1);
  box-shadow:0 0.02rem 0.24rem 0 rgba(0, 0, 0, 0.08);
  border-radius:0.3rem;
  display: flex;
}
.search_img{
  width: 0.28rem;
  height: 0.28rem;
  margin: 0.16rem 0 0 0.3rem;
}
.search_input{
  width: 5.16rem;
  outline: none;
  font-size:0.24rem;
  font-family:PingFang SC;
  font-weight:500;
  line-height: 0.6rem;
}
.search_btn{
  width:0.92rem;
  height:0.58rem;
  background:rgba(53,131,240,1);
  border-radius:0.29rem;
  font-size:0.24rem;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(255,255,255,1);
  text-align: center;
  line-height: 0.58rem;
  outline: none;
  border: none;
}
/*新增合伙人框*/
.footer{
  width: 100%;
  height: 0.81rem;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
}
.footer label{
  font-size:0.3rem;
  font-family:PingFang SC;
  font-weight:500;
  color:rgba(27,27,32,1);
  line-height:0.81rem;
  margin-left: 0.3rem;
}
.footer_input{
  text-align: right;
  font-size:0.3rem;
  font-family:PingFang SC;
  font-weight:500;
  line-height:0.81rem;
  margin-right: 0.34rem;
  width: 5rem;
  outline: none;
}




.warning{
  position: fixed;
  top: 0;
  width: 100%;
  height: 13.34rem;
  background:rgba(0,0,0,0.35);
  display: none;
  z-index: 999;
}
.warning_content{
  position: relative;
  width:5.8rem;
  height:2.6rem;
  background:rgba(255,255,255,1);
  border-radius:0.1rem;
  margin: 5.38rem 0 0 0.85rem;
}
.warning_title{
  font-size:0.3rem;
  font-family:PingFang SC;
  font-weight:bold;
  color:rgba(53,131,240,1);
  line-height:0.58rem;
  text-align: center;
}
.warning_text{
  font-size:0.24rem;
  font-family:PingFang SC;
  font-weight:500;
  color:rgba(0,0,0,1);
  line-height:0.36rem;
  text-align: center;
  margin: 0.45rem;
}
.warning_btn{
  width:5.8rem;
  height:0.8rem;
  display: block;
  background:rgba(245,245,245,1);
  border-radius:0 0 0.1rem 0.1rem;
  font-size:0.3rem;
  font-family:PingFang SC;
  font-weight:500;
  color:rgba(102,102,102,1);
  line-height:0.8rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
/*成功的弹窗*/
.success{
  position: fixed;
  top: 0;
  width: 100%;
  height: 13.34rem;
  background:rgba(0,0,0,0.35);
  display: none;
  z-index: 999;
}
.success_content{
  position: relative;
  top: 4.41rem;
  left: 1.36rem;
  width:4.77rem;
  height:5.12rem;
  /*background:rgba(255,255,255,1);*/
  /*border-radius:0.2rem;*/
  background-image: url("/images/login.img/success.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.success_text{
  font-size:0.32rem;
  font-family:FZCuHeiSongS-B-GB;
  font-weight:400;
  color:rgba(0,0,0,1);
  position: relative;
  top: 2.99rem;
  left: 1.75rem;
}
.success_btn{
  width:3.84rem;
  height:0.64rem;
  background:rgba(53,131,240,1);
  border-radius:0.32rem;
  font-size:0.34rem;
  font-family:FZCuHeiSongS-B-GB;
  font-weight:400;
  color:rgba(255,255,255,1);
  text-align: center;
  line-height: 0.64rem;
  position: relative;
  top: 3.66rem;
  left: 0.47rem;
}



.header {
  width: 100%;
  height: 1.28rem !important;
  background-color: #FFF;
}
.header .header_title {
  font-size: 0.34rem !important;
  font-family: PingFang SC;
  font-weight: bold;
  color: #333333;
  text-align: center;
  position: relative;
  top: 0.52rem;
}
.header .header_title span {
  width: 0.2rem;
  height: 0.36rem;
  position: absolute;
  left: 0.3rem;
  top: 0.1rem;
  background-image: url("/images/upload/back.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
form .up_id {
  width: 100%;
  height: 4rem;
  background: #ffffff;
}
form .up_id .id_title {
  font-size: 0.3rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  text-indent: 0.31rem;
  padding-top: 0.19rem;
}
form .up_id .up_list {
  display: flex;
  margin-top: 0.26rem;
}
form .up_id .up_list li {
  width: 3.24rem;
  height: 2.79rem;
  background: #f4f8fe;
  border-radius: 0.1rem;
  margin: 0 0 0 0.3rem;
  position: relative;
}
form .up_id .up_list li img {
  width: 2.44rem;
  height: 1.64rem;
  margin: 0.27rem 0 0 0.41rem;
}
form .up_id .up_list li input {
  width: 3.24rem;
  height: 0.6rem;
  background: #5581ff;
  border-radius: 0 0 0.1rem 0.1rem;
  font-size: 0.24rem;
  opacity: 0;
  position: absolute;
  bottom: 0;
  z-index: 999;
}
form .up_id .up_list li .up_btn {
  width: 3.24rem;
  height: 0.6rem;
  background: #5581ff;
  border-radius: 0 0 0.1rem 0.1rem;
  font-size: 0.28rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  line-height: 0.6rem;
  position: absolute;
  bottom: 0;
}
form .up_id .up_list li:nth-of-type(2) {
  margin-left: 0.43rem;
}
form .mess_top {
  margin-top: 0.27rem;
}
form .mess_top li {
  width: 100%;
  height: 0.88rem;
  background: #ffffff;
  margin-bottom: 0.21rem;
  display: flex;
  justify-content: space-between;
  text-indent: 0.31rem;
  font-size: 0.3rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 0.88rem;
}
form .mess_top li input {
  text-align: right;
  width: 4.6rem;
  margin-right: 0.29rem;
  outline: none;
  color: black;
}
form .mess_top li:nth-of-type(1) {
  background: #ffffff;
  border-bottom: 0.01rem solid #E8ECF1;
  margin-bottom: 0;
  font-size: 0.3rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 0.88rem;
}
form .weui-cells {
  margin: 0 0 0.21rem 0;
  width: 100%;
  padding: 0;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.3rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  text-indent: 0.21rem;
}
form .weui-cells .weui-cell {
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
}
form .weui-cells .weui-cell .weui-cell__hd {
  width: 1rem;
  height: 0.88rem;
  line-height: 0.88rem;
}
form .weui-cells .weui-cell .weui-cell__hd .weui-label {
  position: relative;
  top: -0.08rem;
  left: -0.03rem;
  width: 1.5rem;
}
form .weui-cells .weui-cell .weui-cell__bd {
  position: relative;
  top: -0.08rem;
}
form .weui-cells .weui-cell .weui-cell__bd .weui-input {
  width: 5rem;
  text-align: right;
  position: relative;
  right: -0.8rem;
}
form .mess_bottom li {
  width: 100%;
  height: 0.88rem;
  background: #ffffff;
  margin-bottom: 0.21rem;
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  text-indent: 0.31rem;
  font-size: 0.3rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 0.88rem;
}
form .mess_bottom  #categoryDetail{
  align-items: center;
  justify-content: space-between;
}
form .mess_bottom  #categoryDetail .ins{
   width: 0.18rem;
   height: 0.18rem;
   /*margin: 0;*/
   margin-right:-0.02rem;
 }
form .mess_bottom li input {
  text-align: right;
  width: 4.6rem;
  margin-right: 0.29rem;
  outline: none;
  font-size: 0.3rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #999999;
  line-height: 0.88rem;
  color: black;
}
form .mess_bottom li select {
  width: 1.8rem;
  font-size: 0.3rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #999999;
  line-height: 0.88rem;
  /*margin-right: 0.29rem;*/
  margin-right: 0.29rem;
  text-indent: 0.2rem;
  outline: none;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  background-image: url("/images/upload/down.png");
  background-size: 18%;
  background-position-x: 1.4rem;
  background-position-y: 0.34rem;
  background-repeat: no-repeat;
  color: black;
  background-color: #FFF;
}
form .mess_bottom li .table_num {
  margin-right: 0.29rem;
}
form .mess_bottom li .table_num input {
  margin-right: 0;
}
form .new {
  width: 100%;
}
form .new .new_p {
  font-size: 0.3rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 0.32rem;
  text-indent: 0.31rem;
  padding-top: 0.24rem;
  background: #ffffff;
}
form .new .photo {
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.3rem;
  padding-bottom: 0.32rem;
}
form .new .photo li {
  width: 3.24rem;
  height: 2.79rem;
  background: #f4f8fe;
  border-radius: 0.1rem;
}
form .new .photo li img {
  width: 2.44rem;
  height: 1.64rem;
  margin: 0.27rem 0 0 0.41rem;
}
form .up_img {
  width: 3.24rem;
  height: 0.6rem;
  background: #5581ff;
  border-radius: 0 0 0.1rem 0.1rem;
  font-size: 0.28rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 0.6rem;
  text-align: center;
  position: relative;
  top: 0.3rem;
  outline: none;
}
form .up_imgs {
  width: 3.24rem;
  height: 0.6rem;
  background: #5581ff;
  border-radius: 0 0 0.1rem 0.1rem;
  font-size: 0.28rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 0.6rem;
  text-align: center;
  position: relative;
  top: 2.17rem;
  left: -2.84rem;
  outline: none;
}
form .new .photo li .up_imgs input {
  width: 3.24rem;
  height: 0.6rem;
  border-radius: 0 0 0.1rem 0.1rem;
  font-size: 0.28rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 0.6rem;
  position: relative;
  top: -0.6rem;
  outline: none;
  opacity: 0;
}
form .new .photo li .up_img input {
  width: 3.24rem;
  height: 0.6rem;
  border-radius: 0 0 0.1rem 0.1rem;
  font-size: 0.28rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 0.6rem;
  position: relative;
  top: -0.6rem;
  outline: none;
  opacity: 0;
}
form .new .photo li:nth-of-type(1) {
  margin: 0 0.43rem 0 0.3rem;
}
form .new .photo li:nth-of-type(3) {
  margin: 0.58rem 0.43rem 0 0.3rem;
}
form .new .photo li:nth-of-type(4) {
  margin-top: 0.58rem;
}
form .new .photo li:nth-of-type(5) {
  margin: 0.58rem 0.43rem 0 0.3rem;
}
form .content {
  width: 7.49rem;
  height: 4.75rem;
  background: #ffffff;
  margin-bottom: 0.56rem;
  margin-top: 0.26rem;
}
form .content .content_p {
  font-size: 0.3rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  text-indent: 0.3rem;
  padding-top: 0.25rem;
}
form .content .photo_card {
  display: flex;
  margin: 0.78rem 0 0 0.31rem;
}
form .content .photo_card li {
  width: 3.24rem;
  height: 2.79rem;
  background: #f4f8fe;
  border-radius: 0.1rem;
  position: relative;
}
form .content .photo_card li img {
  width: 2.44rem;
  height: 1.64rem;
  margin: 0.27rem 0 0 0.41rem;
}
form .content .photo_card li input {
  width: 3.24rem;
  height: 0.6rem;
  background: #5581ff;
  border-radius: 0 0 0.1rem 0.1rem;
  font-size: 0.28rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 0.6rem;
  text-align: center;
  position: relative;
  bottom: 0.6rem;
  opacity: 0;
}
form .content .photo_card li .text1 {
  width: 0.7rem;
  height: 0.64rem;
  font-size: 78px;
  font-family: PingFang SC;
  font-weight: 500;
  color: #e5e0e0;
  opacity: 0.68;
  position: absolute;
  left: 1.14rem;
  top: 0.75rem;
}
form .content .photo_card li:nth-of-type(1) {
  margin-right: 0.41rem;
}
form #btns {
  width: 6.9rem;
  height: 0.88rem;
  background: #5581ff;
  box-shadow: 0 0.08rem 0.16rem 0 rgba(36, 134, 255, 0.2);
  border-radius: 0.44rem;
  font-size: 0.36rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #ffffff;
  line-height: 0.88rem;
  position: relative;
  top: 0.46rem;
  left: 0.3rem;
  margin-bottom: 0.88rem;
  outline: none;
}
.weui-picker-modal.weui-picker-modal-visible {
  font-size: 0.3rem;
  z-index: 999;
  height: 8rem;
}
.toolbar {
  width: 100%;
  height: 1rem;
}
.toolbar-inner {
  width: 100%;
  height: 1rem !important;
}
.picker-button {
  font-size: 0.3rem !important;
  line-height: 1rem !important;
  height: 1rem !important;
}
.close-picker {
  font-size: 0.3rem !important;
  line-height: 1rem !important;
  height: 1rem !important;
}
.toolbar .title {
  font-size: 0.5rem;
  line-height: 1rem !important;
}


.picker-item {
  height: 0.8rem !important;
  line-height: 0.8rem !important;
  font-size: 0.3rem;
}

/*推荐分公司按钮*/
.btn {
  width: 6.9rem;
  height: 0.88rem;
  outline: none;
  background: #5581ff;
  box-shadow: 0 0.08rem 0.16rem 0 rgba(36, 134, 255, 0.2);
  border-radius: 0.44rem;
  font-size: 0.36rem;
  font-family: PingFang SC;
  font-weight: bold;
  color: #ffffff;
  line-height: 0.88rem;
  position: relative;
  top: -0.3rem;
  left: 0.3rem;
}


