<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增商品详情公共部分配置')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-public-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">图片：</label>
                <div class="col-sm-8">
                    <input id="picture" type="file" name="file" accept="image/*" onchange="photoUpload()" required/>
                    <input id="photoUrl" name="photoUrl" class="form-control" type="hidden" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-8">
                    <img src="/img/profile.png" id="publicPicture" width="198" height="198">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">显示位置：</label>
                <div class="col-sm-8">
                    <select name="place" class="form-control m-b">
                        <option value="1">商品详情上方</option>
                        <option value="2">商品详情下方</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">作用位置：</label>
                <div class="col-sm-8">
                    <select name="type" class="form-control m-b">
                        <option value="1">普通商品详情</option>
                        <option value="2">拼团商品详情</option>
                        <option value="3">抢购商品详情</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">排序：</label>
                <div class="col-sm-8">
                    <input name="sort" class="form-control" type="number" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否启用：</label>
                <div class="col-sm-8">
                    <select name="status" class="form-control m-b">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">开始时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="startTime" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text"
                               id="datetimepicker-demo-3">
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">结束时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="endTime" class="form-control" placeholder="yyyy-MM-dd HH:mm:ss" type="text"
                               id="datetimepicker-demo-4">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "system/public"
        $("#form-public-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-public-add').serialize());
            }
        }

        function photoUpload(){
            var formData = new FormData();
            formData.append('file', $("#picture")[0].files[0]);
            $.ajax({
                url: "/system/api/photoUpload",
                data: formData,
                type: "POST",
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (data) {
                    //成功
                    $("#photoUrl").val(data);
                    $("#publicPicture").attr('src',data);
                }
            });
        }

        $("#datetimepicker-demo-3").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            autoclose: true
        });

        $("#datetimepicker-demo-4").datetimepicker({
            format: "yyyy-mm-dd hh:ii:ss",
            autoclose: true
        });
    </script>
</body>
</html>