<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/area.css">
    <script src="/js/rem.js"></script>
</head>

<body>
    <div class="header">
        <p class="header_p1">
            <i class="fa fa-angle-left" aria-hidden="true" onclick="window.history.go(-1)"></i>
            我的地区
        </p>
        <p class="header_p2">今日收入</p>
        <div class="area_total" style="vertical-align:middle;text-align:center">
            <span>0</span>
        </div>
    </div>
    <div class="area_list">
        <div class="area_list_left">
            <p class="left_p1">商户总数</p>
            <p class="left_p2">0</p>
        </div>
        <div class="area_list_right">
            <p class="left_p1">本月利润</p>
            <p class="left_p2">￥0</p>
        </div>
    </div>
    <div class="list">
        <p class="list_title">我的分公司</p>
        <ul class="list_content">
            <!--<li>-->
                <!--<div class="content_left">-->
                    <!--<div class="content_i">-->
                        <!--<img src="/images/detail.img/icon1.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="content_text">-->
                        <!--<p class="content_text_p1">-->
                            <!--平湖分公司-->
                        <!--</p>-->
                        <!--<p class="content_text_p2">-->
                            <!--联系电话：13115993363-->
                        <!--</p>-->
                        <!--<p class="content_text_p2">-->
                            <!--地址：浙江省嘉兴市平湖市XXX路XXX号-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="content_right">-->
                    <!--<p class="content_right_p1">昨日营业额</p>-->
                    <!--<p class="content_right_p2">￥2543</p>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="content_left">-->
                    <!--<div class="content_i">-->
                        <!--<img src="/images/detail.img/icon1.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="content_text">-->
                        <!--<p class="content_text_p1">-->
                            <!--平湖分公司-->
                        <!--</p>-->
                        <!--<p class="content_text_p2">-->
                            <!--联系电话：13115993363-->
                        <!--</p>-->
                        <!--<p class="content_text_p2">-->
                            <!--地址：浙江省嘉兴市平湖市XXX路XXX号-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="content_right">-->
                    <!--<p class="content_right_p1">昨日营业额</p>-->
                    <!--<p class="content_right_p2">￥2543</p>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li>-->
                <!--<div class="content_left">-->
                    <!--<div class="content_i">-->
                        <!--<img src="/images/detail.img/icon1.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="content_text">-->
                        <!--<p class="content_text_p1">-->
                            <!--平湖分公司-->
                        <!--</p>-->
                        <!--<p class="content_text_p2">-->
                            <!--联系电话：13115993363-->
                        <!--</p>-->
                        <!--<p class="content_text_p2">-->
                            <!--地址：浙江省嘉兴市平湖市XXX路XXX号-->
                        <!--</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="content_right">-->
                    <!--<p class="content_right_p1">昨日营业额</p>-->
                    <!--<p class="content_right_p2">￥2543</p>-->
                <!--</div>-->
            <!--</li>-->
        </ul>
    </div>
</body>
</html>