<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>资料包</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/data.css">
    <script src="/js/rem.js"></script>
</head>
<body>
    <div class="header">
        <p>
            <span class="back" onclick="window.history.go(-1)"></span>
            资料包
        </p>
    </div>
    <ul class="list">
        <li>
            <div class="left">
                <p class="p1">网红点餐桌贴</p>
                <p class="p2">把店铺装饰成理想的样子</p>
                <div class="downLoad">立即下载</div>
            </div>
            <div class="right">宣传视频</div>
        </li>
        <li>
            <div class="left">
                <p class="p1">特色收款二维码</p>
                <p class="p2">你离网红店只差一个特色二维码</p>
                <div class="downLoad">立即下载</div>
            </div>
            <div class="right">宣传视频</div>
        </li>
        <li>
            <div class="left">
                <p class="p1">简洁推拉门贴</p>
                <p class="p2">门贴在手 生意不愁 机不可失 时不再来</p>
                <div class="downLoad">立即下载</div>
            </div>
            <div class="right">宣传视频</div>
        </li>
    </ul>
</body>
</html>
