<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>开通银行卡</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/list.css">
    <script src="/js/rem.js"></script>
</head>
<body>
<div class="headers">
    <p>
        <span class="back" onclick="window.history.go(-1)"></span>
        开通银行卡
    </p>
</div>
<ul class="mess_top">
    <li>
        <label for="name">姓名</label>
        <input type="text" id="name" name="name">
    </li>
    <li>
        <label for="card">身份证号码</label>
        <input type="text" id="card" name="idcard">
    </li>
    <li>
        <label for="name">手机号</label>
        <input type="tel" id="num" name="cellphone">
    </li>
</ul>
</body>
</html>