<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>交易密码</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/password.css">
    <script src="/js/rem.js"></script>
    <script src="/js/agent-index.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<div class="header">
    <p>
        <span class="back" onclick="window.history.go(-1)"></span>
        交易密码
    </p >
</div>
<form action="" class="password">
    <ul class="list_pass">
        <li class="list_li">
            <label for="pass" class="leb">旧密码:</label>
            <input type="password" id="pass" placeholder="请输入..." class="leb_i">
        </li>
        <li>
            <label for="password" class="leb">新密码:</label>
            <input type="password" id="password" placeholder="请输入..." class="leb_i">
        </li>
        <li>
            <label for="passwords" class="leb">确认密码:</label>
            <input type="password" id="passwords" placeholder="请输入..." class="leb_i">
        </li>
    </ul>
    <input class="btn" type="submit" value="确认">
</form>
</body>
</html>