<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/set.css">
    <script src="/js/rem.js"></script>
    <script src="/js/agent-index.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <p>
            <span class="back" onclick="window.history.go(-1)"></span>
            设置
        </p>
    </div>
    <ul class="list">
        <li onclick="pwd()">
            交易密码
            <span></span>
        </li>
        <li onclick="bankCard()">
            绑定银行卡
            <span></span>
        </li>
    </ul>
    <div class="btn" onclick="location.href='/agent/user/logout'">退出登录</div>
</body>

</html>
